<style>
  .day {
      text-align: center;
      vertical-align: middle;
      border-style: solid;
      border-color: #000;
      border-width: 1px;
      color: #000;
    }

    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {}
    .past {}
    .future {}

    .start-date {}

    .prev-month {
      visibility: hidden;
    }
    .next-month {
      visibility: hidden;
    }
    .current-month {}

    .has-events {
      font-weight: bolder;
    }

    .is-blocked {
      color: #ff0000;
      font-weight: bolder;
    }

    .toggle-blocked-date {
      text-decoration: none;
    }
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<% (0..2).each do |mo_offset| %>
  <%= month_calendar(start_date: (Date.today.beginning_of_month + mo_offset.months), events: @listing.reservations) do |date, reservations| %>
    <% if date < Date.today %>
      <%= date.day %>
    <% else %>
      <% if reservations.count.positive? %>
        X
      <% else %>
        <%= link_to (@listing.dates_blocked.include?(date) ? 'X' : date.day), listing_toggle_date_path(@listing, date.year, date.month, date.day), remote: true, class: "toggle-blocked-date#{@listing.dates_blocked.include?(date) ? ' is-blocked' : nil}", 'data-day': date.day %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<script>
  $(document).ready(function() {
    $(".toggle-blocked-date").on("ajax:success", function(e, data, status, xhr) {
      var el = e.target;
      if($(el).hasClass('is-blocked')) {
        $(el).html($(el).attr('data-day'));
        $(el).removeClass('is-blocked');
      } else {
        $(el).html('X');
        $(el).addClass('is-blocked');
      }
    }).on("ajax:error", function(e, xhr, status, error) {
      console.log("ERROR:", error);
    });
  });
</script>